.loginForm {
  width: 60%;
  margin: 4rem auto;
  padding: 2rem 3.2rem;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.loginForm > * {
  width: 100%;
  margin: 1rem auto;
}
.loginForm label {
  font-family: MulishBold, sans-serif;
  display: block;
  width: inherit;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: #9fa2b4;
  margin: 0 0 0.6rem 1rem;
}

.loginForm input {
  display: block;
  background: #fcfdfe;
  outline: none;
  border: 1px solid black;
  width: inherit;
  padding: 1.1rem 0.8rem;
  border: 1px solid #f0f1f7;
  border-radius: 0.8rem;
}

.loginForm button {
  border: 1px solid transparent;
  margin-top: 2.4rem;
  background: #3751ff;
  box-shadow: 0rem 0.4rem 1.2re rgba(55, 81, 255, 0.24);
  border-radius: 0.8rem;
  font-family: MulishSemiBold, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
  padding: 1.5rem 2.4rem;
  cursor: pointer;
}
